## 1. Introduzione ai Modelli di Serie Temporali

Iniziamo con una breve descrizione dei modelli che andrai ad analizzare:
- AR (AutoRegressive): Il modello AR utilizza i valori passati della stessa variabile per prevedere il futuro. È definito dal parametro p che indica il numero di ritardi inclusi nel modello.
- MA (Moving Average): A differenza dell'AR, il modello MA usa gli errori di previsione passati per fare previsioni future. Il parametro q rappresenta il numero di termini di errore inclusi.
- ARMA (AutoRegressive Moving Average): Questo modello combina AR e MA, includendo sia i ritardi della variabile sia gli errori di previsione passati. È definito da due parametri, p e q.
- ARIMA (AutoRegressive Integrated Moving Average): ARIMA estende ARMA includendo la differenziazione (d) per rendere la serie stazionaria, essenziale per trattare trend e stagionalità.

## 2. Preparazione dei Dati
Dopo aver caricato i dati dell'S&P 500 con yfinance, dividili in set di train e test per valutare le prestazioni dei modelli.

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [23]:
data['sp500'] = yf.Ticker('^GSPC').history(period = '10y')['Close']
data['nikkei'] = yf.Ticker('^N225').history(period = '10y')['Close']
data['dax'] = yf.Ticker('^GDAXI').history(period = '10y')['Close']
data['ftse'] = yf.Ticker('FTSEMIB.MI').history(period = '10y')['Close']

data

Ticker,FTSEMIB.MI,^GDAXI,^GSPC,^N225,sp500,nikkei,dax,ftse
Date,,,,,,,,
2014-02-17,20459.0,9656.759766,NaN,14393.110352,NaN,NaN,NaN,NaN
2014-02-18,20478.0,9659.780273,1840.760010,14843.240234,NaN,NaN,NaN,NaN
2014-02-19,20438.0,9660.049805,1828.750000,14766.530273,NaN,NaN,NaN,NaN
2014-02-20,20452.0,9618.849609,1839.780029,14449.179688,NaN,NaN,NaN,NaN
2014-02-21,20391.0,9656.950195,1836.250000,14865.669922,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-02-12,31457.0,17037.349609,5021.839844,NaN,NaN,NaN,NaN,NaN
2024-02-13,31134.0,16880.830078,4953.169922,37963.968750,NaN,NaN,NaN,NaN
2024-02-14,31329.0,16945.480469,5000.620117,37703.320312,NaN,NaN,NaN,NaN
2024-02-15,31694.0,17046.689453,5029.729980,38157.941406,NaN,NaN,NaN,NaN
2024-02-16,31732.0,17117.439453,5005.569824,38487.238281,NaN,NaN,NaN,NaN